@model Traders.Models.FuturesUpdateViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
    if (ViewBag.Date == null)
        ViewBag.Date = String.Format("{0:yyyy-MM-dd}", DateTime.Now);
    else
        String.Format("{0:yyyy-MM-dd}", DateTime.Now);
}
@{
    ViewData["Title"] = "Actualizacion Contratos";
}

<div class="card">
    <div class="card-header">
        <h4>Actualizacion de contratos</h4>
    </div>
    <hr />
    <form method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModifDate" class="control-label"></label>
                <input asp-for="ModifDate" id="modifDate" type="date" data-date-format="dd/MM/yyyy" value="@ViewBag.Date" class="form-control" readonly />
                <span asp-validation-for="ModifDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gain" class="control-label"></label>
                <input asp-for="Gain" id="gain" class="form-control" />
                <span asp-validation-for="Gain" class="text-danger"></span>
            </div>
            <div class="card-footer">
                <button id="btnCreateFutureUpdate" class="btn btn-primary" onclick="Create('@Url.Action("Create", "FuturesUpdate")')">Aceptar</button>
                <a asp-action="Index" cclass="btn btn-outline-warning">Cancelar</a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/js/futuresUpdate.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
