@model Traders.Models.BankAccountsViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@{
    ViewData["Title"] = "Agregar Cuenta";
}
<div class="card">
    <div class="card-header">
        <h4>Agregar Cuenta</h4>
    </div>
    <hr />
    <form method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <i class="fas fa-file-signature"></i>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fab fa-btc"></i>
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" id="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-piggy-bank"></i>
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" id="Amount" class="form-control"  value="0.00"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="card-footer">
                <button id="btnCreateAccount" class="btn btn-primary" onclick="Create('@Url.Action("Create", "BankAccounts")')">Aceptar</button>
                <a asp-action="Index" cclass="btn btn-outline-warning">Cancelar</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/accounts.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
