@model Traders.Models.BankAccountsViewModel

@{
    ViewData["Title"] = "Crear Cuenta";
}

<div class="card">
    <div class="card-header">
        <h4>Crear Cuenta</h4>
    </div>
    <hr />
    <form method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label fas fa-wallet"></label>
                <input asp-for="Name" id="accountName" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label fas fa-cash-register"></label>
                <input asp-for="Amount" id="ammount" class="form-control" readonly value="0.00" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="card-footer">
                <button id="btnCreateAccount" class="btn btn-primary" onclick="Create('@Url.Action("Create", "BankAccounts")')">Crear</button>
                <a asp-action="Index" cclass="btn btn-outline-warning">Cancelar</a>
            </div>
        </div>
    </form>
</div>
    @section Scripts {
        <script src="~/js/accounts.js"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
