@model Traders.Models.BankAccountsViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@{
    ViewData["Title"] = "Editar Spot";
}

<div class="card">
    <div class="card-header">
        <h1>Editar Spot</h1>
    </div>
    <form method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" id="ClientCode" class="form-control" readonly />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" id="Ammount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            
        </div>
        <div class="card-footer">
            <button id="btnEditAccount" class="btn btn-primary" onclick="Create('@Url.Action("Edit", "BankAccounts")')">Aceptar</button>
            <a asp-action="Index" cclass="btn btn-outline-warning">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/accounts.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}