@model IEnumerable<Traders.Models.BankAccountsViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Cuentas";
}

<h1>Index</h1>

<p>
    @{
        if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <a asp-action="Create">Nueva cuenta</a>
        }
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="_AccountsPartial" model="@Model.ToList()" />
        
    </tbody>
</table>
