@model IEnumerable<Traders.Models.ClientsViewModel>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
        </td>
    </tr>
}