@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <img src="~/logo.png" />
    <p>Sistema de gestion de operaciones de <b><i class="fab fa-btc"></i>itcoin Santa Fe</b>.</p>
</div>
