@model Traders.Models.FuturesViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
    if (ViewBag.Date == null)
        ViewBag.Date = String.Format("{0:yyyy-MM-dd}", DateTime.Now);
    else
        String.Format("{0:yyyy-MM-dd}", DateTime.Now);
}
@{
    ViewData["Title"] = "Nuevo Contrato";
}

<div class="card">
    <div class="card-header">
        <h4>Nuevo Contrato</h4>
    </div>
    <form method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <i class="far fa-folder-open"></i>
                <label asp-for="Code" class="control-label "></label>
                <input asp-for="Code" id="ClientCode" value="@ViewBag.ClientCode" class="form-control"  />
                <span asp-validation-for="Code" id="ClientCodeVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-at"></i>
                <label asp-for="Email" class="control-label "></label>
                <input asp-for="Email" id="ClientEmail" class="form-control" />
                <span asp-validation-for="Email" id="ClientEmailVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="date" data-date-format="dd/MM/yyyy" value="@ViewBag.Date" id="startDate" class="form-control" />
                <span asp-validation-for="StartDate" id="startDateVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipationId" class="control-label"></label>
                <select asp-for="ParticipationId" id="participationId" class="form-control" asp-items="ViewBag.ParticipationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Capital" class="control-label"></label>
                <input asp-for="Capital" id="capital" class="form-control" />
                <span asp-validation-for="Capital" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button id="btnCreateFuture" class="btn btn-primary" onclick="Create('@Url.Action("Create", "Futures")')">Aceptar</button>
            <a asp-action="Index" cclass="btn btn-outline-warning">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/futures.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
