@model IEnumerable<Traders.Models.BadgesViewModel>

@{
    ViewData["Title"] = "Monedas";
}

<h1>Monedas</h1>

<p>
    <a asp-action="Create">Agregar Moneda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        <partial name="_BadgesPartial" model="@Model.ToList()" />
    </tbody>
</table>
