@model Traders.Models.MovementsViewModel
@using Microsoft.AspNetCore.Identity
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Crear nueva operación";
}


<form method="post">
    <div class="card">
        <div class="card-header">
            <h4>Crear nueva operación</h4>
        </div>

        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <i class="far fa-user-circle"></i>
                <label asp-for="UserGuid" class="control-label"></label>
                <input asp-for="UserGuid" id="UserGuid" value="@ViewBag.CurrentUser" class="form-control" readonly />
            </div>
            <div class="form-group">
                <i class="fas fa-hand-holding-usd"></i>
                <label asp-for="AmountIn" class="control-label"></label>
                <input asp-for="AmountIn" type="number" id="AmmountIn" class="form-control" />
                <span asp-validation-for="AmountIn" id="AmmountInVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-wallet"></i>
                <label asp-for="BankAccountGuidIn" class="control-label"></label>
                <select asp-for="BankAccountGuidIn" id="BankAccountIn"
                        class="form-control BankAccountIn"
                        asp-items="ViewBag.BankAccounts">
                    <option disabled selected>--- Seleccione ---</option>
                </select>
            </div>
            <div class="form-group">
                <i class="fas fa-hand-holding-usd"></i>
                <label asp-for="AmountOut" class="control-label "></label>
                <input asp-for="AmountOut" type="number" id="AmountOut" class="form-control" />
                <span asp-validation-for="AmountOut" id="AmmountOutVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-wallet"></i>
                <label asp-for="BankAccountGuidOut" class="control-label"></label>
                <select asp-for="BankAccountGuidOut" id="BankAccountOut"
                        class="form-control BankAccountOut"
                        asp-items="ViewBag.BankAccounts">
                    <option disabled selected>--- Seleccione ---</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-11">
                    <button style="text-decoration: none;" type="button" class="btn btn-link" data-toggle="collapse" data-target="#secondMov"><h4 style="text-decoration: none; color: #000;">Operación correlativa (no obligatorio)</h4></button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#secondMov"><i class="fas fa-sort-down" style="color: black"></i></button>
                </div>
            </div>
        </div>
        <div id="secondMov" class="card-body collapse">
            <div class="form-group">
                <i class="fas fa-hand-holding-usd"></i>
                <label asp-for="AmountInS" class="control-label"></label>
                <input asp-for="AmountInS" type="number" id="AmmountInS" value="0" class="form-control" />
            </div>
            <div class="form-group">
                <i class="fas fa-wallet"></i>
                <label asp-for="BankAccountGuidInS" class="control-label"></label>
                <select asp-for="BankAccountGuidInS" id="BankAccountInS"
                        class="form-control BankAccountIn"
                        asp-items="ViewBag.BankAccounts">
                    <option disabled selected>--- Seleccione ---</option>
                </select>
            </div>
            <div class="form-group">
                <i class="fas fa-hand-holding-usd"></i>
                <label asp-for="AmountOutS" class="control-label"></label>
                <input asp-for="AmountOutS" id="AmountOutS" type="number" value="0" class="form-control" />
            </div>
            <div class="form-group">
                <i class="fas fa-wallet "></i>
                <label asp-for="BankAccountGuidOutS" class="control-label"></label>
                <select asp-for="BankAccountGuidOutS" id="BankAccountOutS"
                        class="form-control BankAccountOutS"
                        asp-items="ViewBag.BankAccounts">
                    <option disabled selected>--- Seleccione ---</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Comission" class="control-label"></label>
                <input asp-for="Comission" id="Comission" class="form-control " />
                <span class="text-danger">valor expresado en USD</span>
                <span asp-validation-for="Comission" id="ComissionVal" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button id="btnCreateMov" class="btn btn-primary" onclick="Create('@Url.Action("Create", "Movements")')">Crear</button>
            <a asp-action="Index" cclass="btn btn-outline-warning">Cancelar</a>
        </div>
    </div>

</form>

@section Scripts {
    <script src="~/js/movements.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
