@model Traders.Models.MovementsViewModel
@using Microsoft.AspNetCore.Identity
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Nuevo Movimiento";
}

<h1>Create</h1>

<h4>MovementsViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserGuid" class="control-label"></label>
                <input asp-for="UserGuid" class="form-control" readonly value="@User.Identity.Name.ToString()" />
                <span asp-validation-for="UserGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateMov" class="control-label"></label>
                <input asp-for="DateMov" class="form-control" type="datetime-local" data-date-format="dd/MM/yyyy hh:mm" />
                <span asp-validation-for="DateMov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
