@model Traders.Models.MovementsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MovementsViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateMov" class="control-label"></label>
                <input asp-for="DateMov" class="form-control" />
                <span asp-validation-for="DateMov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserGuid" class="control-label"></label>
                <input asp-for="UserGuid" class="form-control" />
                <span asp-validation-for="UserGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountIn" class="control-label"></label>
                <input asp-for="AmountIn" class="form-control" />
                <span asp-validation-for="AmountIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BadgeGuidIn" class="control-label"></label>
                <input asp-for="BadgeGuidIn" class="form-control" />
                <span asp-validation-for="BadgeGuidIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccountGuidIn" class="control-label"></label>
                <input asp-for="BankAccountGuidIn" class="form-control" />
                <span asp-validation-for="BankAccountGuidIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOut" class="control-label"></label>
                <input asp-for="AmountOut" class="form-control" />
                <span asp-validation-for="AmountOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BadgeGuidOut" class="control-label"></label>
                <input asp-for="BadgeGuidOut" class="form-control" />
                <span asp-validation-for="BadgeGuidOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccountGuidOut" class="control-label"></label>
                <input asp-for="BankAccountGuidOut" class="form-control" />
                <span asp-validation-for="BankAccountGuidOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
